@import '~font-awesome/css/font-awesome.css';

.appTitle{
    font-size: 16px;
    color: orange;
}
.centered-text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    color: red;
}

.main-wrapper{
    /* padding-left: 20%;
    padding-right: 20%; */
}

.container {
    color: white;
    background-color: #3f51b5;
    padding: 10px 20px;
    
}

.mat-nav-list {
    float: right;
}
.container h1 {
    margin-top: 10px;
}

.mat-nav-list a {
    color: white;
}