<div class="profile">
    <div class="general-info">
        <mat-card>
            <img class="profile-pic"
                src="https://lh3.googleusercontent.com/a-/AOh14GiDgvP5YcihDpEbLqa1y52PDhDWCCn-RO5cooq2Sw" alt="">
            <div class="card-body">
                <h5>OUSSAMA AZZAZ RAHMANI</h5>
                <ul class="info">
                    <h6>Age</h6>
                    <li class="null">Value</li>
                </ul>

                <ul class="info">
                    <h6>Age</h6>
                    <li class="null">Value</li>
                </ul>
            </div>
        </mat-card>
    </div>

    <div class="left-cards-cont">
        <mat-card class="summary-card">
            <h3>Summary</h3>
            <div>
                <p class="null">
                    Mounir is secretly gay but everybody knows it.
                </p>
            </div>
        </mat-card>

        <mat-card class="summary-card">
            <h3>Card 2</h3>
            <div>
                <p class="null">
                    Mounir is secretly gay but everybody knows it.
                </p>
            </div>
        </mat-card>
    </div>
</div>