<div class="profile">
    <div class="general-info">
        <mat-card>
            <img class="profile-pic"
                src="https://avatars0.githubusercontent.com/u/37557533?s=460&u=a4005ba16b39a77a336c5367ffb47785d790d17a&v=4" alt="">
            <div class="card-body">
                <h5>{{profile.user.name}}</h5>
                <ul class="info">
                    <h6>Position</h6>
                    <li class="null">{{profile.position}}</li>
                </ul>

                <ul class="info">
                    <h6>University</h6>
                    <li class="null">{{profile.university}}</li>
                </ul>
                <ul class="info">
                    <h6>Social</h6>
                    <li> Email: <a href="{{profile.social.email}}" target="_blank"><mat-icon>email</mat-icon></a>  </li>
                    <li> Youtube: <a href="{{profile.social.youtube}}" target="_blank"><mat-icon>live_tv</mat-icon></a>  </li>
                    <li> Linkedin: <a href="{{profile.social.linkedin}}" target="_blank"><mat-icon>linked</mat-icon></a>  </li>
                   
                </ul>
            </div>
        </mat-card>
    </div>

    <div class="left-cards-cont">
        <mat-card class="summary-card">
            <h3>Bio</h3>
            <div>
                <p class="null">
                    {{profile.bio}}
                </p>
            </div>
        </mat-card>

        <mat-card class="summary-card">
            <h3>Skills</h3>
            <div>
                <ul>
                    <li *ngFor="let skill of profile.fields" >{{skill}}</li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>