<div class="profile">
    <div class="general-info">
        <mat-card>
            <img class="profile-pic"
                src="https://lh3.googleusercontent.com/a-/AOh14GiDgvP5YcihDpEbLqa1y52PDhDWCCn-RO5cooq2Sw" alt="">
            <div class="card-body">
                <h5>{{profile.user.name}}</h5>
                <ul class="info">
                    <h6>Position</h6>
                    <li class="null">{{profile.position}}</li>
                </ul>

                <ul class="info">
                    <h6>University</h6>
                    <li class="null">{{profile.university}}</li>
                </ul>
                <ul class="info">
                    <h6>Social</h6>
                    <li> Email: <a href="{{profile.social.email}}"><mat-icon>email</mat-icon></a>  </li>
                    <li> Youtube: <a href="{{profile.social.youtube}}"><mat-icon>live_tv</mat-icon></a>  </li>
                    <li> Linkedin: <a href="{{profile.social.linkedin}}"><mat-icon>linked</mat-icon></a>  </li>
                   
                </ul>
            </div>
        </mat-card>
    </div>

    <div class="left-cards-cont">
        <mat-card class="summary-card">
            <h3>Bio</h3>
            <div>
                <p class="null">
                    {{profile.bio}}
                </p>
            </div>
        </mat-card>

        <mat-card class="summary-card">
            <h3>Skills</h3>
            <div>
                <ul>
                    <li *ngFor="let skill of profile.fields" >{{skill}}</li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>